
//
// VARIABLES
//

// Colors
$blue: #002fa7;
$background: #ededed;

// Grays
$black: #000;
$darkGray: #333;
$white: #ededed; // #fff

// Font stacks
$cambria: "Cambria", sans-serif;
$amiri: "Amiri", serif;
$nunito: "Nunito", sans-serif;
$arial: "Arial", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
